html,body {
    height:100%;
}

body{
    background-color:white;
}

header {
    padding:10px 0px;
    background-color: orange;
    text-align: center;
    width: 100%
}

section {
    width: 79%;
    background: gray;
    float: left;
    overflow: auto;
    padding-bottom: 60px;
    padding-top:30px;
    top: 0%;
    color: white;
    text-align: center;
}

aside {
    float: right;
    border: 5px solid orange;
    width: 20%;
    border: 5px solid orange;
    background: gray;
    text-align: center;
    color: white;
}

footer {
    position: relative;
    margin-top: -50px;
    height: 130px; 
    padding:5px 0px;
    clear: both;
    background: orange;
    text-align: center;
    color: #fff;
}

figure {
    display: table; margin: 0 auto;
}

ul{
    list-style-type: circle;
}

a{
    text-decoration: dotted;
    color: black;
    text-align: center;
}

table{
    width: 100%;
    text-align: center;
}

td{
    text-align: center;
    display: block;
}

.saltado{
    float: left;
    
}
.saltado td{
    float: left;
    margin-left: 70px;
}

#cabeza svg{
    width: 500px;
    height: 500px;
}
.saltado table td a{
    margin-right: 10px;
    margin-top: 100px;
}
#salto{
    display: none;
}
.segundo{
    float: right;
    margin-right: 100px; 
    width: 500px;
}
.jump{
    float: left;
}
@media screen and (max-width:892px){

#cabeza{
    width: 98%;
}

header{
    width: 98%;
}
section{
    width: 98%;
}
aside{
    width: 95%;
    float: left;
}
footer{
    width: 98%;
}
.imagencon{
    width: 50px;
    height: 50px;
}
#cabeza svg{
    width: 250px;
    height: 250px;
}
#salto{
    display: block;
}
.saltar{
    float: left;
}
.jump{
    float: left;
}
tr{
    
    float: left;
    margin-top: 5px;

}
td{
    text-align: center;
    margin-left: 25px;
    width: 100px;

}
.saltado td{
margin-left: 5px;
float: none;
}
.saltar {
    margin-top: 5px;
}
footer{
    height: 200px;
}
.segundo{
    float: right;
    margin-right: 200px;
    width: 25px;
}
}
